/node_modules
/public/hot
/public/storage
public/images/noticias/**
public/images/sliders/**
public/images/servicios/**
public/images/comentarios/**
composer.lock
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vscode
